body{
    margin: 0px;
    background: #272524;
    height: 276vh;
}
a{
    text-decoration: none;
    list-style-type: none;
}
.img{
    position:relative;
    height: 100vh;
    background: linear-gradient(90deg, rgba(36, 36, 36, 0.685) 0%, rgba(0, 0, 0, 0.322) 100%),url(https://asteria.sivium.solutions/storage/img/background.jpg) center / cover no-repeat;
} 
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
  

}
.content-left{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.content-right{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.icon
{
    max-height: 64px;
    margin-right: 20px;
    min-width: 40px;
}
.content{
    font-size: 23px;
    padding-right: 20px;
    color:var(--theme-btn3-background);
    transition: all .25s ease;
}
.content:hover{
    color: var(--theme-btn2-background)
}
.li{
    position: relative;
    list-style-type: none;
}
.content::after {
    content: "";
    background: var(--theme-button-background);
    height: 3px;
    width: 100%;
    left: 0px;
    bottom: -11px;
    position: absolute;
    transform: scaleX(0);
    transition: all 0.25s ease;
    border-radius: 5px;
}
.content:hover::after {
    transform: scaleX(1);
   
}
.btn1-content{
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 19px;
    cursor: pointer;
    font-weight: 500;
    margin-right: 15px;
    background: var(--theme-btn1-background);
    color: #fff;
    transition: all .25s ease;
}
.btn1-content:hover{
    color: var(--theme-button-background);
}
.btn2-content{
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 19px;
    cursor: pointer;
    font-weight: 500;
    margin-right: 15px;
    background:var(--theme-btn2-background);
    color: #fff;
}
.btn3-content{
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 19px;
    cursor: pointer;
    font-weight: 500;
    margin-right: 15px;
    background: var(--theme-btn3-background);
    color: #272524;
}
.form-header{
    background-color:rgb(38, 38, 38); ;
    position: relative;
    display: flex;
    bottom: 51vh;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 24%;
    background:#101010;
  
}
.header-icon{
display: flex;
align-items: center;
justify-content:center;
flex-direction: column;
margin-top: 40px;
}
.icon-centre{
    width: 100px;
}
.header-icon-text{
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
    color: #fff;
    
}
.form-icon{
    width: 105px;
    margin-top: 30px
}
.form-text{
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 1.75rem;
    color: #fff;
}
.form-content-1{
    padding: 9px 50px;
    border: none;
    font-size: 1.15rem;
    outline: none;
    border-radius: 5px;
    margin-top: 20px;
    font-family: inherit;
    border: 2px solid transparent;
    background: #272524;
    color: #989898;
    transition: all .25s ease;
}
.form-content-1:hover{
    border: 2px solid var(--theme-btn2-background) ;
}
.form-btn{
    padding: 10px 50px;
    width: 70%;
    color: #fff;
    background: var(--theme-btn2-background);
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}
.form-p{
    text-align: center;
    color: var(--theme-button-background);
    font-size: 17px;
    margin: 30px;
    cursor: pointer;
   
}
.form-p-login{
    text-align: center;
    color: var(--theme-button-background);
    font-size: 20px;
    margin: 20px 5px 20px 5px;
    cursor: pointer;
   
}
.form-text-p{
    font-size: large;
    color: antiquewhite;
    margin-left: 5px;  
}
section{
    position: relative;
    bottom: 51vh;
}
.section-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: url(https://asteria.sivium.solutions/storage/img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    position: relative;
}
.section-content::after{
    content: "";
    background: black;
    position: absolute;
    opacity: 0.3;   
    height: 50vh;
    width: 100%;
}
.content-centre{
    text-align: center;
    position: relative;
    z-index: 1;
}
.content-header{
    font-weight: 700;
    font-size: 4rem;
    color: var(--theme-btn2-background);
}
footer{
    position: relative;
    bottom: 61vh;
}
.content-footer{
    color: var(--theme-btn3-background);
    font-size: 1.40rem;
    font-family: var(--bs-body-font-family);
}
.svg-wave{
    transform: rotate(180deg) translateY(-3px);
    position: relative;
    z-index: 1;
    bottom: 16vh; 
    min-height: 100px;
    width: 100%;
}
.footer-box{
    display: flex;
    align-items: center;
    justify-content: center;

}
.footer-box-h1{
width: 52%;
}
.box-h1{
font-size: 2.5rem;
color: var(--theme-btn3-background);
font-weight: 500;
line-height: 1.3;
}
.link {
    position: relative; 
    top: 20px; 
    font-size: 20px;
    color: var(--theme-btn2-background);
    cursor: pointer;
    transition: all ease 0.2s; 
}

.link-3{
    position: relative;
    top: 35px;
    font-size: 20px;
    color: var(--theme-btn2-background);
    cursor: pointer;
}

.footer-box-link{
    font-size: 21px;
    color: #fff;
    font-weight: 500;
    position: relative;
}

.footer-box-link::after,
.footer-box-link-1::before{
    content: "";
    height: 3px;
    position: absolute;
    background: #6610f2;
    width: 100%;
    border-radius: 5px;
    bottom: 0px;
    left: 0px;
    transform: scaleX(1);
    
}
.footer-box-link-1{
    font-size: 21px;
    color: #fff;
    font-weight: 500;
    position: relative;
}
.link-span{
    position: relative;
    right: 26vh;
    text-align: center;
}
.link-span-1{
    position: relative;
    text-align: center;
}
.footer-content-text{
display: flex;
align-items: center;
justify-content: center;
width: 72%;
word-break: break-all;
opacity: 0.85;
font-size: 1.10rem;
line-height: 1.5;
margin: 5px 0px 30px 0px;
color: 		#989898;
font-weight: 500;
}
.footer-span-text{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 88%;
    font-size: larger;
    color: var(--theme-btn3-background);
}
.msg{
    border: 2px solid #fff;
    border-radius: 3px;
    color: #fff;
    padding: 10px 20px;
    margin: 10px 0px 20px 0px;
    text-align: center;
    font-weight: bold;
}
.form-check:checked{
    background-color: var(--theme-btn2-background);
    color: #fff;
}
.desc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #272524;
}
.desc-content{
    position: relative;
    color: #fff;
    width: 71%;
    background: #101010;
}

.desc-header-text{
    text-align: center;
    margin-top: 1rem;
    font-size: 2.2rem;
}
:root{
    --theme-button-background: #6610f2;
    --theme-btn1-background: #667ed1;
    --theme-btn2-background: #8c58f8;
    --theme-btn3-background: #fff;
    --bs-body-font-family: var(--bs-font-sans-serif);
}
.desc-footer-text{
    margin-left: 1.3rem;
    margin-top: 1rem;
}
.desc-footer-text-p{
    font-weight: bold;
    font-size: 1.1rem;
    
}
.desc-footer-text-p-2{
    font-size: 1.1rem;
}
.desc-items-h1{
    margin-left: 1.3rem;
    margin-bottom: 0rem;
    line-height: 1.2;
    font-size: 1.75rem;
    margin-top: 0px;
    font-family: 'Almarai', sans-serif;
    font-weight: 500;
}
.item-strong{
font-size: large;
}
.item{
    font-size: larger;
}
.desc-p{
    word-break: break-all;
    width: 95%;
    font-size: 1.1rem;
    margin-left: 1.3rem;
    line-height: 1.4;
    font-weight: 600;
}
.desc-p::after{
    content: "";
    height: 2px;
    width: 95%;
    background: gray;
    position: absolute;
    bottom: 6.2vh;
    left: 2vh;
}
.footer-desc-p{
    text-align: end;
    margin-right: 2rem;
    margin-top: 1.8rem;
    margin-bottom: 1.5rem;
    font-size: large;
}
.menu{
    display: flex;
    align-items: center;
}
.header-burger-btn{
    position: relative;
    display: none;
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    z-index: 1;
}
.header-burger-btn span{
    position: absolute;
    width: 25px;
    height: 4px;
    border-radius: 10px;
    background-color: var(--theme-btn3-background);
    left: 5px;
    transition: transform .5s, opacity .5s, background-color .5s;
}
.header-burger-btn span:nth-child(1){
    transform: translateY(-10px);
}
.header-burger-btn span:nth-child(3){
    transform: translateY(10px) ;
}
.content-left.open .header-burger-btn span{
   background-color:var(--theme-btn3-background);
}
.content-left.open .header-burger-btn span:nth-child(1){
    transform: translateY(0) rotate(45deg);
}
.content-left.open .header-burger-btn span:nth-child(2){
    opacity: 0;
}
.content-left.open .header-burger-btn span:nth-child(3){
    transform: translateY(0) rotate(-45deg);
}
@media (max-width:1600px){
    .footer-box{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        }
        .link-span-1{
            position: relative;
            bottom: 6vh;
        }
        form{
            width: 30%;
        }
}
@media (max-width:1200px) {
    .footer-content-text {
        width: 93%;
    }
    .footer-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }
    .svg-wave {
        position: relative;
        bottom: 10vh;
    }
    .link-span-1{
        position: relative;
        bottom: 6vh;
    }
    form {
            width: 40%;
        
    }
    .form-content-1{
        padding: 9px 15px;
    }
    .form-btn{
        width: 60%;
    }
}
@media (max-width:992px) {
    .header-burger-btn{
        display: block;
    }
    .menu{
        position: absolute;
        left: -400px;
        width: 340px;
        top: 0px;
        background-color: var( --theme-button-background);
        padding: 100px 20px 20px 20px;
        display: flex;
        flex-direction: column;
        transition: transform .5s;
    }
    .li{
        display: block;
        
    }
    .content{
        color: var(--theme-btn3-background);
        font-size: 21px;
        display: block;
        padding-right: 65px;
        padding-bottom: 20px;
    }
    .content-left.open .menu{
        transform: translateX(100%);
    }
    form {
        width: 45%;
    }
    .form-content-1{
        padding: 9px 0px;
    }
    /* .svg-wave {
        position: relative;
        bottom: 7vh;
    } */
}
@media (max-width:700px) {
    .link-span-1 {
        position: relative;
        bottom: 6vh;
        left: 11vh;
    }
    .link-span {
        position: relative;
        right: 18vh;
        text-align: center;
    }
    form{
        width: 60%;
    }
} 
@media (max-width:520px) {
    form {
        width: 75%;
    }
    .footer-box {
        position: relative;
        top: 3vh;
    }
    .svg-wave {
        position: relative;
        bottom: 4vh;
        width: 100%;
    }
    .footer-content-text {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .desc-content {
        width: 90%
    }
    .link-span {
        position: relative;
        right: 11vh;
        text-align: center;
    }
    .link-span-1 {
        position: relative;
        bottom: 6vh;
        left: 12vh;
    }
    .footer-span-text {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
    .btn1-content {
        display: none;
    }
    .box-h1 {
        font-size: 1.75rem;
        text-align: center;
    }
}
@media(max-width:420px)
{
    form {
        width: 90%;
    }
    .svg-wave{
        position: relative;
        bottom: 4.5vh;
    }
    .content-header {
        font-size: 3rem;
        width: 60%;
    }
    .content-footer {
        font-size: 1rem;
        width: 70%;
    }
}
@media (max-width: 380px) {
    form {
        width: 100%;
    }
    /* .svg-wave {
        position: relative;
        bottom: 3vh;
    } */
    .footer-box {
        position: relative;
        top: 3vh;
    }
    .content-centre {
        text-align: center;
        position: relative;
        z-index: 1;
        right: 20px;
    } 
    .link-span {
        position: relative;
        right: 11vh;
        text-align: center;
    }
    .link-span-1 {
        position: relative;
        bottom: 6vh;
        left: 12vh;
    }
    .content-header{
        font-size: 3rem;
        width: 50%;
    }
    .content-footer {
        font-size: 1rem;
        width: 70%;
    }
    .box-h1 {
        font-size: 1.75rem;
        color: var(--theme-btn3-background);
        font-weight: 500;
        text-align: center;
    }
    .footer-content-text,
    .footer-span-text {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}
